
instagram-downloader.xcodeproj/project.xcworkspace/xcuserdata/olehkopyl.xcuserdatad/UserInterfaceState.xcuserstate
instagram-downloader.xcodeproj/xcuserdata/olehkopyl.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
instagram-downloader.xcodeproj/xcuserdata/olehkopyl.xcuserdatad/xcschemes/xcschememanagement.plist
