<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.CY-041AF8F6-4884-11E7-AB8C-406C8F57CB9A.com.cydia.Extender</string>
	</array>
</dict>
</plist>
